// Example: All of Primer
$primary-color: rgb(149, 25, 226);
$borders-on: 1px dashed #000000;
$padding: 2%;
$body-font-size: 14px;
$container-width: 100%;

@import "primer-scss/primer";

@mixin box-shadow($left:0, $top:0px, $blur:8px, $color:#000, $inset:"") {
  -webkit-box-shadow:$top $left $blur $color #{$inset};
  -moz-box-shadow:$top $left $blur $color #{$inset};
  box-shadow:$top $left $blur $color #{$inset};
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}
div {
  // border: $borders-on;
}
#header {
  width: 100%;
  padding: $padding;
  background-color: $primary-color;
  color: #ffffff;
  //border: $borders-on;
  vertical-align: middle;
  position: relative;
  @include box-shadow();

  a {
    color: #ffffff;
  }
}

#content {
  //border: $borders-on;
  margin: 20px 0 0 0;
}

#footer {
  padding: $padding;
  background-color: lighten($primary-color, 10);
  color: #ffffff;
  //border: $borders-on;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  @include box-shadow();
}

.links {
  vertical-align: bottom;
  //border: $borders-on;
  position: relative;
  bottom: -30px;
  right: 0;
  display: flex;
}

.big {
  font-size: $body-font-size * 3;
}
